@using DAL.Models;
@using ShopStore.ViewModel;

@model ProductViewModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <table class="table table-bordered table-striped" id="datatable">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        <img src="@item.ImageURL" style="width: 60px; height: 60px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Price >= item.FinalPrice)
                        {
                            @Html.DisplayFor(modelItem => item.FinalPrice, new {@class = "text-danger text-decoration-line-through"})
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Price)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <div class="d-flex justify-content-between">
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            }
                            else
                            {
                                <a asp-action="AddItemToCart" asp-route-id="@item.Id" class="btn btn-success">Add</a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DataTable");
    }
}